 <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Enquiry details</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body
        style="
        background-color: #f2f2f2;
        font-family: sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        line-height: 1.4;
        margin: 0;
        padding: 0;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        "
    >
        <table
        role="presentation"
        border="0"
        cellpadding="0"
        cellspacing="0"
        style="background-color: #f2f2f2; width: 100%"
        >
        <tr>
            <td
            style="
                display: block;
                margin: 0 auto !important;
                max-width: 580px;
                padding: 20px 10px;
                min-width: 300px;
                overflow: auto;
            "
            >
                <table
                role="presentation"
                style="background: #ffffff; border-radius: 3px; width: 100%"
                >
                <tr>
                    <td style="text-align: center" width="100%">
                    <a
                        href="https://www.bookableonline.co.nz"
                        target="_blank"
                        style="display: inline-block; padding-top: 20px"
                    >
                        <img
                        src="https://www.bookableonline.co.nz/logo.png"
                        alt="Logo"
                        border="0"
                        width="180"
                        style="
                            display: block;
                            width: 180px;
                            max-width: 180px;
                            min-width: 180px;
                        "
                        />
                    </a>
                    </td>
                </tr>
                <!-- START MAIN CONTENT AREA -->
                <tr>
                    <td style="box-sizing: border-box; padding: 20px 20px 40px">
                    <table
                        role="presentation"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="100%"
                    >
                        <tr>
                        <th
                            colspan="3"
                            style="
                            color: #06090f;
                            font-family: sans-serif;
                            font-weight: 700;
                            font-size: 2rem;
                            line-height: 1.4;
                            text-align: center;
                            margin: 0;
                            padding-bottom: 30px;
                            "
                        >
                            Enquiry Details
                        </th>
                        </tr>
                        <tr>
                        <th
                            style="
                            border-top: 2px solid #cbcbcb;
                            border-bottom: 1px solid #cbcbcb;
                            text-align: left;
                            padding: 5px;
                            font-size: 1rem;
                            "
                        >
                            Full Name
                        </th>
                        <td
                            style="
                            border-top: 2px solid #cbcbcb;
                            border-bottom: 1px solid #cbcbcb;
                            text-align: left;
                            padding: 5px;
                            font-size: 1rem;
                            "
                            colspan="2"
                        >
                            {{fullName}}
                        </td>
                        </tr>
                        <tr>
                        <th
                            style="
                            border-top: 1px solid #cbcbcb;
                            border-bottom: 1px solid #cbcbcb;
                            text-align: left;
                            padding: 5px;
                            font-size: 1rem;
                            "
                        >
                            Email
                        </th>
                        <td
                            style="
                            border-top: 1px solid #cbcbcb;
                            border-bottom: 1px solid #cbcbcb;
                            text-align: left;
                            padding: 5px;
                            font-size: 1rem;
                            "
                            colspan="2"
                        >
                            {{email}}
                        </td>
                        </tr>
                        <tr>
                        <th
                            colspan="3"
                            style="
                            border-top: 1px solid #cbcbcb;
                            border-bottom: 1px solid #cbcbcb;
                            padding: 5px;
                            font-size: 1.2rem;
                            "
                        >
                            Message
                        </th>
                        </tr>

                        <tr>
                        <td
                            colspan="3"
                            style="
                            border-top: 1px solid #cbcbcb;
                            border-bottom: 2px solid #cbcbcb;
                            padding: 5px;
                            font-size: 1rem;
                            "
                        >
                            {{message}}
                        </td>
                        </tr>
                    </table>
                    </td>
                </tr>

                <!-- END MAIN CONTENT AREA -->
                </table>
                <table style="width: 100%;">
                <!-- Start footer -->
                <tr style="border: 0">
                    <td
                    style="
                        border: 0;
                        width: 100%;
                        vertical-align: middle;
                        padding-left: 30px;
                        padding-right: 30px;
                        padding-top: 10px;
                        padding-bottom: 30px;
                        text-align: center;
                    "
                    >

                    <p
                        style="
                        font-size: 12px;
                        line-height: 12px;
                        font-weight: normal;
                        text-decoration: none;
                        color: #919293;
                        margin-top: 30px;
                        "
                    >
                        Copyright ©
                        <a
                        style="text-decoration: none; color: #919293"
                        href="https://www.bookableonline.co.nz/"
                        >bookable</a
                        >. All rights reserved.
                    </p>

                    <p
                        style="
                        margin-bottom: 0;
                        font-size: 13px;
                        line-height: 24px;
                        font-family: 'Helvetica', Arial, sans-serif;
                        font-weight: 400;
                        text-decoration: none;
                        color: #919293;
                        "
                    >
                        <a
                        target="_blank"
                        style="text-decoration: none; color: #919293"
                        href="https://www.bookableonline.co.nz/privacy-policy"
                        >
                        Privacy policy
                        </a>
                        &nbsp;
                        <a
                        target="_blank"
                        style="text-decoration: none; color: #919293"
                        href="https://www.bookableonline.co.nz/terms-of-service"
                        >
                        Terms of service
                        </a>
                        &nbsp;
                        <a
                        target="_blank"
                        style="text-decoration: none; color: #919293"
                        href="https://www.bookableonline.co.nz/support"
                        >
                        Support
                        </a>
                    </p>
                    </td>
                </tr>
                <!-- End footer -->
                </table>
                <!-- END CENTERED WHITE CONTAINER -->
            </td>
        </tr>
        </table>
    </body>
    </html>