<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RERA API | easy to use, fast, and secure</title>

    <!-- Primary Meta Tags -->
    <meta
      name="title"
      content="Play - Free Open Source HTML Bootstrap Template by UIdeck"
    />
    <meta
      name="description"
      content="Play - Free Open Source HTML Bootstrap Template by UIdeck Team"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://uideck.com/play/" />
    <meta
      property="og:title"
      content="Play - Free Open Source HTML Bootstrap Template by UIdeck"
    />
    <meta
      property="og:description"
      content="Play - Free Open Source HTML Bootstrap Template by UIdeck Team"
    />
    <meta
      property="og:image"
      content="https://uideck.com/wp-content/uploads/2021/09/play-meta-bs.jpg"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://uideck.com/play/" />
    <meta
      property="twitter:title"
      content="Play - Free Open Source HTML Bootstrap Template by UIdeck"
    />
    <meta
      property="twitter:description"
      content="Play - Free Open Source HTML Bootstrap Template by UIdeck Team"
    />
    <meta
      property="twitter:image"
      content="https://uideck.com/wp-content/uploads/2021/09/play-meta-bs.jpg"
    />

    <!--====== Favicon Icon ======-->
    <link
      rel="shortcut icon"
      href="assets/images/favicon.svg"
      type="image/svg"
    />

    <!-- ===== All CSS files ===== -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/animate.css" />
    <link rel="stylesheet" href="assets/css/lineicons.css" />
    <link rel="stylesheet" href="assets/css/ud-styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- ====== Header Start ====== -->
    <header class="ud-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="index.html">
                <img src="images/logo.png" alt="Logo" />
              </a>
              <button class="navbar-toggler">
                <span class="toggler-icon"> </span>
                <span class="toggler-icon"> </span>
                <span class="toggler-icon"> </span>
              </button>

              <div class="navbar-collapse">
                <ul id="nav" class="navbar-nav mx-auto">
                  <li class="nav-item">
                    <a class="ud-menu-scroll" href="#home">Home</a>
                  </li>

                  <li class="nav-item">
                    <a class="ud-menu-scroll" href="#faq">Why Us</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="ud-menu-scroll" href="#pricing">Pricing</a>
                  </li> -->
                  <!-- <li class="nav-item">
                    <a class="ud-menu-scroll" href="#team">Team</a>
                  </li> -->
                  <li class="nav-item">
                    <a class="ud-menu-scroll" href="#contact">Contact</a>
                  </li>
                </ul>
              </div>
              <div class="navbar-btn d-none d-sm-inline-block">
                <a href="/rera/real-estate/login" class="ud-main-btn ud-login-btn"> Sign In </a>
                <a class="ud-main-btn ud-white-btn" href="/rera/real-estate/register">
                  Sign Up
                </a>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <section></section>
    <!-- ====== Header End ====== -->
  </body>
</html>
